.mat-stroked-button{
    background-color: #279aff;
    color: white;
    font-size: 12pt;
    border-radius: 0px;
    outline: none;
    padding: 14px 25px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
}