<div class="row align-items-center justify-content-end  mt-5 bg-color-content2">
  <div class="col-7 mt-5 text-right">
    <img src="./assets/img/cloud.png" width="80%">
  </div>
  <div class="col-5 mt-5 text-right">
    <h1>Content 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua </p>
  </div>
  <div class="col-12 mt-5">
    <div class="box-content">
      <div class="box-color">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
      <div class="box-color">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
      <div class="box-color">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
    </div>
  </div>
</div>