<div class="row align-items-center">
  <div class="col-4">
    <h1>Content 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua</p>
  </div>
  <div class="col-12 mt-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/img/img.png">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/img/img.png">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/img/img.png">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/img/img.png">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua</p>
        </div>
      </div>
    </div>
  </div>
</div>